#start_page a:hover{
    background-color: chocolate;
}
#navigation-container{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    
    height: 80px;
    padding-top: 20px;
    
    font-size: 100%;
    color: blue;
    float: left;
    width: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
   
    
}

.body{
    background-color: silver;
}
#logo{
height: 60px;

padding-left: 5rem;
padding-right: 5rem;    

}
#start_page{
    height: 30;
}
#news_container{
    text-align: center;
    height: 1000px;
    padding-top: 350px;
}   
#myVideo{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#about_us_div{
    text-align: right;
    margin-bottom: 10px;
}
.Our_values {
    font-size: 15px;
    color: yellow  ;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    text-align: right;
    float: right;
    margin-top: 30px;
}
.History{
    font-size: 15px;
    color:yellow;
    background:none;
    border:none;
    margin:0;
    cursor: pointer;
    text-align: right;
    margin-top: 30px;
    float: right;
}
.Algebra_group{
    font-size: 15px;
    color:yellow;
    background:none;
    border:none;
    margin:0;
    cursor: pointer;
    text-align: right;
    margin-top: 30px;
    float: right;
   
}
.How_to_find_us{
    font-size: 15px;
    color: yellow;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    float: right;
    margin-top: 31px;
    margin-right: 5px;
    
}

#campus_jpg{
    width:100%;
   height:300px;
   object-fit:cover;

    left: 0;
    top: 0;
    z-index: 10;
}
.about_us_header{
    text-align: center;
    text-decoration: underline solid  yellow;
}
.h2_class{
    font-size: 2em;
    text-align: center;
    color: purple;
}
.h3_class{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-decoration: underline 1px black ;
    font-variant-caps: all-petite-caps;
    font-size: 1.3em;
    margin-left: 3%;
    color: deepskyblue;
    
}
p{
    margin-left: 3%;
    text-align: justify;
    margin-right: 3%;
}

.footer{
    height: 250px;
    left: 50%;
    top: 50%;
    width: 100%;
  color:black;
background-image:url('../resources/images/zaiskri-bg.jpg');   
background-repeat: no-repeat;
background-size: 100% ;
}
.promise{
    font-size: 1.2em;
    font-family: Garamond ;
    text-align: justify;
    padding-top: 50px;
    padding-left: 167px;
    padding-right: 167px;
    margin-left: 10%;
    margin-right: 10%;
}
.our_values_div{
    margin-left: 6%;
    
    height: 300px;
}
.our_values_data{
    
    text-align:center;
    height: 270px;
    border: 1px  black;
    border-style: solid;
    border-width: thin;
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 30%;
    margin-left: 1%;
    background-color: white;
    
    
}
.history_div{
    margin-left: 6%;
    
    height: 300px;
}
.history_data{
    text-justify: auto;
    text-align:justify;
    height: 270px;
    border: 1px  black;
    border-style: solid;
    border-width: thin;
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 30%;
    margin-left: 1%;
}
.history{
    font-size: 1.2em;
    font-family: Garamond ;
    text-align: justify;
    padding-top: 50px;
    padding-left: 167px;
    padding-right: 167px;
    margin-left: 10%;
    margin-right: 10%;
}
.certificates_div{
    margin-left: 6%;
    margin-right: 4%;
    height: 300px;
}
.certificates_logo{
    float: left;
    width: 25%;
    text-align: center;
    
}
.certificates{
    font-size: 1.2em;
    font-family: Garamond ;
    text-align: justify;
    padding-top: 50px;
    padding-left: 167px;
    padding-right: 167px;
    margin-left: 10%;
    margin-right: 10%;
}
.certicifate_images{
    padding-top: 10px;
    float: left;
    width: 23%;
    text-align: center;
}
.certicifate_img{
    margin-top: 6%;
    margin-bottom: 3%;
    height: 150px;
    width: 60%;
  
}
.location1{
    
    width: 35%;
    float:left;
    margin-left: 15%;
    background-color: white;
    border: solid 1px   black;
    height: 400px; 
}
.location2{
    width: 35%;
    float:left;
    padding-left: 1%;
    height: 400px;
    border: solid 1px   black;
    margin-left: 2%;
    background-color: white;
    
    
    
}
.map_img{
    height: 1000px;
    background-image:url('../resources/images/Izrezak karte.png') ;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 1000px ;
    
}

.mapouter{
    
    margin-left: 24%;
    width: 50%;
    padding-top:  10px; ;
}

    

#news1_jpg{
    width: 300px;
  height: 300px;
  border-radius: 50%;
  position:relative;
  overflow: hidden;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

}
#news2_jpg{
    width: 300px;
  height: 300px;
  border-radius: 50%;
  position:relative;
  overflow: hidden;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

}#news3_jpg{
    width: 300px;
  height: 300px;
  border-radius: 50%;
  position:relative;
  overflow: hidden;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.news_container{
justify-content: center;
text-align: justify;
font-size: medium;
}


.navbar-brand img {
    max-height: 60px;
    width: auto;
  }
  
  .bg-my-black {
    background-color: black;
    float:left;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke= 'rgba(255,255,255,0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
